@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/*------------------------------------Geral---------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px*/
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsla(39, 100%, 97%);
  --green-light: hsla(148, 23%, 89%, 1);

  --nav-height: 7.2rem;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
}

.content {
  width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*------------------------------------Header---------------------------------*/

header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));

  background-color: var(--green-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  margin-bottom: 2.4rem;
  line-height: 130%;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

header button {
  background: var(--primary-color);
  border: none;
  margin-bottom: 6rem;
  border-radius: 4rem;

  height: 6.2rem;
  width: 26.3rem;

  color: #ffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
}

header img {
  display: block;
  margin-right: auto;
  margin-left: auto;

  object-position: 0 2rem;
  width: 26.4rem;
}

.box-informacoes {
  width: 32.7rem;

  margin-right: auto;
  margin-left: auto;

  background: var(--brand-beige);
  border: 1px solid var(--green-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 6rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.box-info p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

.box-info h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

/*------------------------------------Nav---------------------------------*/

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scrool {
  background: var(--primary-color);
  width: 100vw;
  position: fixed;
  top: 0;
}

nav.scrool svg:nth-child(1) path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*------------------------------------menu-espandido---------------------------------*/
body.menu-espandido {
  overflow: hidden;
}

body.menu-espandido > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-espandido .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-espandido .menu,
body.menu-espandido .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-espandido .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}

body.menu-espandido nav {
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 700;
}

.menu ul li a {
  color: white;
}

.menu .btn {
  background: #ffffff;
  border-radius: 4rem;
  font-weight: 700;

  display: inline-block;
  padding: 16px 32px;

  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;

  margin-top: 4.8rem;
  margin-bottom: 8rem;

  color: var(--primary-color);
}

.links-media {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

body.menu-espandido .logo,
body.menu-espandido button {
  position: relative;
  z-index: 100;
}

body.menu-espandido .logo path {
  fill: white;
}

body.menu-espandido button path {
  stroke: white;
}
